@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@400;700&family=Roboto:wght@400;500;700&display=swap");
@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/orange";

body {
    color: var(--primary-color);
    font: var(--font-m);
}

.app {
    min-height: 100vh;

    color: var(--primary-color);
    font: var(--font-m);

    background: var(--bg-color);
}

.app_redesigned {
    min-height: 100vh;

    color: var(--text-redesigned);
    font: var(--font-m-redesigned);

    background: var(--bg-redesigned);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--light-bg-redesigned);        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    border: 2px solid var(--accent-redesigned);  /* creates padding around scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */

    background-color: var(--icon-redesigned);    /* color of the scroll thumb */
}

.app ::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
    height: 8px;
}

.app ::-webkit-scrollbar-track {
    background: var(--card-bg);        /* color of the tracking area */
}

.app ::-webkit-scrollbar-thumb {
    border: 2px solid var(--primary-color);  /* creates padding around scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */

    background-color: var(--inverted-primary-color);    /* color of the scroll thumb */
}
