.ArticleDetails {
    // min-height: 100%;
}

.avatar {
    display: block;
    margin: auto;
}

.title {
    margin-top: 20px;
}

.skeleton {
    margin-top: 15px;
}

.articleInfo {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 8px;
}

.block {
    margin-top: 10px;
}
