.item {
    display: flex;
    align-items: center;
    height: 40px;
}

.icon {
    fill: var(--inverted-secondary-color);
}

.link {
    margin-left: 10px;

    white-space: nowrap;
}

.collapsed {
    .link {
        width: 0;

        opacity: 0;

        transition: 0.2s opacity;
    }
}
