.ArticleList {
    display: flex;
    flex-direction: column;
    width: 100%;
}

// .BIG {
// }

.SMALL {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.ArticleListItem {
    margin-top: 16px;
}

.Virtuoso {
    & > div[data-viewport-type="element"] {
        padding: 20px 20px 20px 45px;
    }
}

.VirtuosoGrid {
    & > div {
        padding: 20px 20px 20px 45px;
    }
}

.ArticleListSkeleton {
    margin-top: 16px;

    &.SMALL {
        margin-top: 0;
    }
}

.ArticleItemSkeleton {
    margin-top: 16px;
}

.itemsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;

    margin-top: 16px;
}

.itemContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    width: 230px;

    @media (max-width: 1024px) {
        width: 50%;
    }

    @media (max-width: 300px) {
        width: 100%;
    }
}
