.PageError {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100dvh;
    max-height: 90vh;
    padding: 20px;
    overflow-y: auto;
}

.title {
    color: var(--primary-color);
}

.button {
    margin-top: 10px;
}
