.AppNavLink {
    color: var(--primary-color);
    text-decoration: none;

    &:hover {
        opacity: 0.8;
        fill-opacity: 0.8;
        stroke-opacity: 0.8;
    }
}

.AppNavLinkIsActive {
    text-decoration: underline;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-primary-color);
}

.red {
    color: red;
}
