.ListBox {
    position: relative;
}

.options {
    position: absolute;
    z-index: var(--listbox-z-index);

    border-radius: 12px;

    background: var(--listbox-bg);
    box-shadow: 4px 4px 8px var(--listbox-bg);

    &BottomLeft {
        top: 100%;
        right: 0;
    }

    &BottomRight {
        top: 100%;
        left: 0;
    }

    &TopLeft {
        right: 0;
        bottom: 100%;
    }

    &TopRight {
        bottom: 100%;

        left: 0;
    }
}

.item {
    padding: 10px 20px;

    &:hover {
        transition: all var(--delay) ease-in-out;
    }
}

.selected {
    background: var(--inverted-primary-color);
}

.active {
    background: var(--inverted-primary-color);
    cursor: pointer;
    opacity: 0.7;
}

.disabled {
    opacity: 0.6;
}
