.app.dark {
  --bg-color: #3d3d42;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #08a508;
  --secondary-color: #3df13d;
  --inverted-primary-color: #868bec;
  --inverted-secondary-color: #4c9ce7;

  --to-light-theme-switcher-color: #a9ac05;
}