.app-dark-theme {
    --bg-color: #3d3d42;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #3df13d;
    --secondary-color: #08a508;
    --inverted-primary-color: #2831e4;
    --inverted-secondary-color: #358de0;
    --to-light-theme-switcher-color: #a9ac05;

    // skeleton
    --skeleton-color: #9b9ba8;
    --skeleton-shadow: #4e4e52;

    // code
    --code-bg: #54545f;

    // card
    --card-bg: #5b5b61;
}
