:root,
.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #3d3d42;
    --primary-color: #868bec;
    --secondary-color: #4c9ce7;
    --inverted-primary-color: #3df13d;
    --inverted-secondary-color: #08a508;
    --to-dark-theme-switcher-color: #185288;
}
