:root,
.app-light-theme {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #3d3d42;
    --primary-color: #2831e4;
    --secondary-color: #358de0;
    --inverted-primary-color: #3df13d;
    --inverted-secondary-color: #08a508;
    --to-dark-theme-switcher-color: #185288;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
