.ProfilePageHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 30px;
}

.btnsWrapper {
    margin-left: auto;
}

.buttons {
    margin-left: auto;
}

.saveBtn {
    margin-right: 10px;
}
