/* stylelint-disable no-descending-specificity */
.Button {
    display: flex;
    align-items: center;

    padding: 6px 16px;

    color: var(--text-redesigned);

    cursor: pointer;

    transition: all var(--delay) ease-in-out;

    &:hover {
        color: var(--accent-redesigned);

        .addonLeft svg,
        .addonRight svg {
            color: var(--accent-redesigned);
        }
    }
}

.withAddon {
    padding: 0 16px;
}

.addonLeft,
.addonRight {
    display: flex;
}

.addonRight svg,
.addonLeft svg {
    color: var(--hint-redesigned);
}

.clear {
    margin: 0;
    padding: 0;
    border: none;

    background: none;
    outline: none;
}

.filled {
    border: none;
    border-radius: 34px;

    outline: none;

    &:hover {
        box-shadow: 0 0 8px 2px var(--hint-redesigned);
    }

    &.normal {
        background: var(--light-bg-redesigned);
    }

    &.error {
        border-color: var(--cancel-redesigned);
    }

    &.success {
        border-color: var(--save-redesigned);
    }
}

.outline {
    border: 2px solid transparent;
    border-radius: 34px;

    background: none;

    &:hover {
        box-shadow: 0 0 8px 2px var(--hint-redesigned);
    }

    &.normal {
        border-color: var(--icon-redesigned);
    }

    &.error {
        border-color: var(--cancel-redesigned);
    }

    &.success {
        border-color: var(--save-redesigned);
    }
}

.square {
    padding: 0;
}

.square.m {
    width: var(--font-line-m-redesigned);
    height: var(--font-line-m-redesigned);
}

.square.l {
    width: var(--font-line-l-redesigned);
    height: var(--font-line-l-redesigned);
}

.square.xl {
    width: var(--font-line-xl-redesigned);
    height: var(--font-line-xl-redesigned);
}

.m {
    font: var(--font-m-redesigned);
}

.l {
    font: var(--font-l-redesigned);
}

.xl {
    font: var(--font-xl-redesigned);
}

.disabled {
    cursor: default;
    opacity: 0.5;

    user-select: none;

    pointer-events: none;
}

.fullWidth {
    width: 100%;
}
