.Card {
    padding: 24px;
}

.padding0 {
    padding: 0;
}

.padding8 {
    padding: 8px;
}

.padding16 {
    padding: 16px;
}

.padding24 {
    padding: 24px;
}

.borderNormal {
    border-radius: 12px;
}

.borderRound {
    border-radius: 40px;
}

.borderPartial {
    border-radius: 20px;
}

.normal {
    background: var(--dark-bg-redesigned);
}

.light {
    background: var(--light-bg-redesigned);
}

.outlined {
    border: 1px solid var(--accent-redesigned);
}

.max {
    width: 100%;
}

.fullHeight {
    height: 100%;
}
