.ProfileCardRedesigned {
    padding: 20px;
}

.editing {
    border-color: var(--inverted-primary-color);
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
