.CommentCard {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--primary-color);

    &:first-child {
        margin-top: 0;
    }
}

.loading {
    border: none;
}

.header {
    display: flex;
    align-items: center;
}

.username {
    margin-left: 10px;
}

.text {
    margin-top: 10px;
}
