.options {
    position: absolute;
    z-index: var(--listbox-z-index);

    border-radius: 12px;

    background: var(--listbox-bg);
    box-shadow: 4px 4px 8px var(--listbox-bg);
}

.item {
    padding: 10px 20px;

    &:hover {
        transition: all var(--delay) ease-in-out;
    }
}
